<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AppDbContext"
			 connectionString="Server=FURINA-SIMP\SQLEXPRESS02;Database=tms;User ID=sa;Password=Chinsakda@3;Encrypt=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>