<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AppDbContext"
			 connectionString="Server=STEELBEAST;Database=tms;Trusted_Connection=True;Encrypt=False;"
			 providerName="System.Data.SqlClient" />
		<add name="RouteManagementSystem"
             connectionString="Server=FURINA-SIMP\SQLEXPRESS02;Database=RouteManagementSystem;User Id=sa;Password=Chinsakda@3;Encrypt=true;TrustServerCertificate=True;"
             providerName="Microsoft.Data.SqlClient"/>

	</connectionStrings>
</configuration>